.Auth {
    margin: 20px auto;
    width:80%;
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    padding: 10px;
    box-sizing: border-box;
    margin-top:10%;
    box-shadow: 0 0 10px pink;

    
}
.ContactText{
  text-shadow: 0 0 5px white;  
}

.Input {
    display:block;
}

@media (min-width: 600px) {
    .Auth {
        width:500px;
        
    }
}

@media (max-width: 500px) {
    .Auth {
        
        margin-top:50%;
        box-shadow: 0 0 10px pink;
    }
}